html,body{margin:0;padding:0}
body{font: arial,sans-serif;}
p{margin:0 10px 10px}

div#header{background-color:#F3F2ED; overflow: hidden; position: fixed; top: 0; width:1000px;margin:0 auto}
div#wrapper{margin-top: 80px; margin-bottom: 60px;}
div#header h1{height:80px;line-height:80px;margin:0;padding-left:10px; color: black;}
a{padding:5px; text-decoration:none; color:blue;}
/* div#container{text-align: justify;} */
div#container h1{width: auto; text-align: left;}
div#content p{line-height:1.4; text-align: justify;}
div#navigation{background:#F6F0E0; overflow: hidden; position: fixed; top: 80px;}
div#navigation ul{margin:15px 0; padding:0; list-style-type:none;}
div#navigation li{margin-bottom:5px;}
div#extra{background:#CCC8B3;}
div#footer{background:#BFBD93;}
div#footer p{margin:0;padding:5px 10px}
div#container{width:1000px;margin:0 auto}
div#content{float:right;width:750px;}
div#navigation{float:left;width:250px}
div#extra{clear:both;width:100%}